{% extends "base.html" %}
{% block content %}

<h2>CPU - Prepare and Build</h2>

<form method="post" action="{{ url_for('cpu.stage') }}" enctype="multipart/form-data" id="stageForm">
  <fieldset>
    <legend><h3>1) Prepare source files</h3></legend>

    <p>Choose source files (<code>C++</code>/<code>H++</code> and <code>Model</code> with tokenizer in <code>.bin</code>) :</p>

    <fieldset>
      <legend>Use the template</legend>

      <label>
        <input type="radio" name="mode" value="base" checked>
        Use project files
      </label>
    </fieldset>

    <fieldset>
      <legend>Custom</legend>
      <label style="margin-top:.5rem;">
        <input type="radio" name="mode" value="custom" id="customMode">
        Provide custom ZIP archives
      </label>


    <div id="customInputs" style="margin-top:.5rem; padding:.75rem; border:1px dashed #bbb; border-radius:.5rem; opacity:.6; pointer-events:none;">
      <label>Sources C++ :
        <input type="file" name="src" accept=".cpp,.hpp" required>
      </label>

      <label style="margin-top:.25rem;">Model (ZIP, optionnel) :
        <input type="file" name="model_zip" accept=".zip">
      </label>

      <p style="font-size:.9rem; color:#a8a8a8; margin:.25rem 0 0;">
        Tip: You can use <code>./source/src</code> and <code>./source/model</code> as a template.
      </p>
    </div>
    </fieldset>

    <button type="submit" style="margin-top:1rem;">Prepare sources files</code></button>
  </fieldset>
</form>

<form method="post" action="{{ url_for('cpu.build') }}" style="margin-top:1rem;">
  <fieldset>
    <legend>2) Compil for CPU</legend>
    <p>Compil the content</p>
    <button type="submit">Start the build for CPU</button>
    <p style="font-size:.9rem; color:#a8a8a8; margin:.5rem 0 0;">
      Le binaire sera produit dans <code>./build-CPU/build/inference-CPU</code>.
    </p>
  </fieldset>
</form>

<script src="{{ url_for('static', filename='js/cpu-form.js') }}"></script>

{% endblock %}
